.simple_blog_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    margin-bottom: 100px;
    margin-left: 10px;
}
.simple_blog_item{
    border: 1px solid #06b8ff;
}
.simple_blog_item img{
    width: 100%;
}
.simple_blog_item_item{
    padding: 10px;
}
.simple_blog_item_item h3{
    font-size: 12px;
    font-weight: 600;
    color: #06b8ff;
}
.simple_blog_item_item .blog_item_content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.simple_blog_item_item .blog_item_content span{
    font-size: 10px;
    font-weight: 800;
    color: #444;
}
.simple_blog_item_item p{
    margin-top: 10px;
    font-size: 10px;
}
.simple_blog_item_item button{
    display: block;
    margin-left: auto;
    margin-top: 10px;
    padding: 5px 8px;
    background-color: #06b8ff;
    border-radius: 4px;
    border: none;
}
.simple_blog_item_item button a{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
}

